@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  background-color: #9f9f9f;
}

header h1 {
  width: auto;
  flex-grow: 1;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  flex-grow: 0;
}

header a {
  text-decoration: none;
  color: inherit;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

header a:hover {
  text-decoration: underline;
  border: 2px solid #000;
}

main img {
  width: 250px;
  height: auto;
  margin: 20px;
  border-radius: 10px;
}

main section {
  margin: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #9f9f9f;
}
